.artists {
  text-align: center;
  background: #1B1B1B;
  height: 100%;
  min-height: 100vh;
  color: #FFFFFF;
  margin: 0;
  box-sizing: border-box;
  border-top: 15px solid #ECB301;
  border-bottom: 15px solid #ECB301;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.artists h1 {
  padding-top: 3%;
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
}

.artists h1 span {
  color: #ECB301;
  text-decoration: underline;
}